[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "linuxkit/pkg/expose-multiple-ports/vendor/github.com/moby/vpnkit"]
	path = linuxkit/pkg/expose-multiple-ports/vendor/github.com/moby/vpnkit
	url = https://github.com/pcfdev-forks/vpnkit.git
[submodule "src/github.com/moby/vpnkit"]
	path = src/github.com/moby/vpnkit
	url = https://github.com/moby/vpnkit.git
